.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.inputText {
  padding: 10px;
}

.create-form {
  border-bottom: 3px solid grey;
  padding-bottom: 10px;
}

.submitButton {
  padding: 8px 15px;
  cursor: pointer;
  margin-left: 3px;
}

.deleteButton {
  margin-left: 3px;
}

ul {
  padding-inline-start: 2px;
}

.todoList li {
  width: 10%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todoList li input {
  padding: 7px;
}
